<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style.css" />
    <title>Homework</title>
  </head>
  <body>
    <div class="wrap">
      <h1>Homework #4</h1>
      <div>
        <h1>Part#1 Tell Story</h1>
        <h2 id="story"></h2>
        <button class="btn" onclick="tellStory()">Enter Story</button>
      </div>
      <div>
        <h1>Part#2 Validation</h1>
        <h2 id="showarrey"></h2>
        <button class="btn" onclick="enterNum()">Start Entering numbers</button>
      </div>
      <div>
        <h1>Part#3 One Line Array</h1>
        <h2 id="oneLineArray"></h2>
        <button class="btn" onclick="enterArray()">Enter an array</button>
      </div>
      <div>
        <h1>Part#4 Even Number Line</h1>
        <button class="btn" onclick="generateNum()">
          Generate Numbers In Console
        </button>
      </div>
      <div>
        <h1>Part#5 MAX/MIN Sum With diff Types</h1>
        <h2 id="sum"></h2>
        <button class="btn" onclick="sum()">Enter Numbers</button>
      </div>
    </div>

    <script src="../scripts/loops.js"></script>
  </body>
</html>
