body {
  background-color: black;
}

body > div {
  width: 65%;
  text-align: center;
  margin: 0 auto;
}

body > div > div {
  background-color: white;
  padding: 15px;
  margin: 10px 0;
}

button {
  padding: 10px;
  font-size: larger;
  font-weight: bolder;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}

button:hover {
  -webkit-box-shadow: 1px 2px 29px 5px rgba(0, 0, 0, 0.65);
  box-shadow: 1px 2px 29px 5px rgba(0, 0, 0, 0.65);
}

input {
  padding: 10px;
  width: 33%;
  margin: 5px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

input:focus {
  outline: none;
  border-color: rgba(40, 194, 255, 0.555);
}

.btn-success {
  background-color: rgb(18, 209, 18);
  color: white;
}

.btn-danger {
  background-color: rgb(253, 0, 0);
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

table {
  font-family: arial, sans-serif;
}

tr:nth-child() {
  background-color: #dddddd;
}
